@import "../../../colors.scss";
.accountHistory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-basis: 100%;
  background-color: $lightAccentBackgorund;
  border-radius: 10px;
  padding: 2%;
  &__button {
    position: absolute;
    right: 50%;
    bottom: -15px;
    background-color: $buttonLightBackground;
    color: $buttonLightTextColor;
    padding: 0.1% 2%;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  &__item {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    padding: 0 1%;
    border-radius: 5px;
    &__headline {
      font-weight: bold;
      font-size: 1.1em;
      flex-basis: 25%;

      &.kindOfTransaction {
        flex-basis: 8%;
      }
      &.amount {
        flex-basis: 15%;
        color: $primaryTextColor;
      }
      &.message {
        flex-basis: 20%;
      }
      &.counterparty {
        flex-basis: 30%;
      }
      &.balanceAfterOperation {
        flex-basis: 15%;
      }
      &.date {
        flex-basis: 10%;
      }
    }

    &__kindOfTransfer {
      font-weight: bold;
      flex-basis: 8%;
      &.Incoming {
        color: $succesColor;
      }
      &.Outcoming {
        color: $errorColor;
      }
    }
    &__amount {
      flex-basis: 15%;
    }
    &__message {
      flex-basis: 20%;
      font-weight: 500;
    }
    &__counterparty {
      flex-basis: 30%;
    }
    &__balanceAfterOperation {
      flex-basis: 15%;
    }
    &__date {
      flex-basis: 10%;
    }
  }
  &__item:nth-of-type(even) {
    background-color: $lightAccentBackgorund2;
  }
  &__page {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-size: 0.7em;
    &__current {
      font-size: 1.3em;
      text-align: right;
    }
    &__buttons {
      flex-basis: 50%;
      & button {
        border-radius: 5px;
        border: none;
        background-color: $thridTextColor;
        margin: 1% 1% 1% 0;
        color: $buttonLightTextColor;
        cursor: pointer;
      }
    }
  }
}
