$primaryTextColor: #535bf2;
$secondaryTextColor: #3f3f3f;
$thridTextColor: #000000;
$buttonDarkBackgorund: #1a1a1a;
$buttonLightBackground: #535bf2;
$buttonLightTextColor: #ffffff;
$buttonDarkTextColor: #ffffff;
$buttonLightHover: #0056b3;
$lightBackground: #ffffff;
$darkBackground: #1a1a1a;
$succesColor: #77ba33;
$pendingColor: #f5a623;
$errorColor: #f56a6a;
$adminColor: #f56a6a;
$accountBackground: #fafafa;
$lightAccentBackgorund: #f5f5f5;
$lightAccentBackgorund2: #efefef;
$shadowColor: #0000001a;
$modalBackground: #00000080;
$lightIcoColor: #ffffff;
$notifyTextColor: #ffffff;
