.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
  &__links {
    display: flex;
    gap: 20px;
  & a {
    text-decoration: none;
    color: black;
  }
}
}