@import "../../colors.scss";
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  justify-content: space-between;
  background-color: $lightAccentBackgorund;
  z-index: 1000;
  &__title {
    display: flex;
    gap: 20px;
    padding: 20px;
    color: $secondaryTextColor;
  }
  &__links {
    display: flex;
    gap: 20px;
    padding: 20px;
    & a {
      text-decoration: none;
      color: $thridTextColor;
    }
    .logout {
      color: $errorColor;
      font-size: 1.9em;
      line-height: 1;
    }
    .ico {
      font-size: 1.9em;
      line-height: 1;
    }
  }
  & b {
    color: $secondaryTextColor;
  }
}
