.error-notification {
    position: fixed;
    bottom: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    &__message {
        background-color: red;
        color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
      }

    &__close {
        float: right;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        padding-left: 10px;
        color: #000000
      }
  }
