@import "../../colors.scss";
.accountWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  min-height: 100vh;
  background-color: $lightBackground;
  color: $thridTextColor;
  padding: 0 10px;
  flex-basis: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;

  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    padding: 2%;
    flex-basis: 100%;
    &__title {
      font-size: 2.2em;
      line-height: 1.1;
      flex-basis: 25%;
      display: flex;
      flex-wrap: wrap;
      &__text {
        flex-basis: 100%;
      }
      &__totalBalance {
        flex-basis: 100%;
        font-size: 0.6em;
        color: $secondaryTextColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        &__text {
          flex-basis: 100%;
        }
        &__balance {
          flex-basis: 100%;
          color: $primaryTextColor;
        }
      }
    }

    &__button {
      flex-basis: 25%;
      display: flex;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center;
    }
    &__svg {
      font-size: 200%;
      line-height: 1;
      margin-right: 5%;
    }
  }
}
.warning {
  color: $errorColor;
}
.account {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 90%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px $shadowColor;
  background-color: $accountBackground;
  margin: 2% 0 5% 0;
  position: relative;

  &__panel {
    margin-bottom: 10px;
    color: $primaryTextColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    flex-basis: 100%;
    &__owners {
      flex-basis: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-self: flex-start;
      &__owner {
        flex-basis: 100%;
      }
    }
    &__title {
      font-size: 1.5em;
      flex-basis: 100%;
    }
    &__buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-self: flex-start;
      margin: 2% 0 0 0;
      flex-basis: 30%;
      & button {
        margin: 0 1% 0 0;
        flex-basis: fit-content;
      }
    }
  }

  &__balance {
    font-size: 1.2em;
    color: $primaryTextColor;
    font-weight: bold;
    line-height: 1;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    flex-basis: 100%;
    & .copy {
      cursor: pointer;
    }
    &__amount {
      font-size: 2em;
      flex-basis: 30%;
    }
    &__percentage {
      font-size: 1.5em;
      flex-basis: 10%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &__line {
        font-size: 0.4em;
        flex-basis: 100%;
        color: $secondaryTextColor;
        text-align: center;
      }
    }
    &__accountNumber {
      flex-basis: 60%;
      display: flex;
      flex-wrap: wrap;
      color: $thridTextColor;
      &__number {
        font-size: 0.8em;
      }
      & span {
        flex-basis: 100%;
      }
      font-size: 1em;
    }
  }

  &__info {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    color: $thridTextColor;
  }

  &__info span {
    font-weight: bold;
  }

  &__history {
    &__title {
      position: absolute;
      right: 50%;
      bottom: -15px;
      background-color: $lightBackground;
      color: $buttonLightTextColor;
      padding: 0.1% 2%;
      font-weight: bold;
      border-radius: 15px;
      cursor: pointer;
    }
    flex-basis: 100%;
    padding: 2% 0;
  }
}
